.botonEditarPerfil{
	padding-top:05%;	
}
.iEditarPerfil{
	cursor: pointer;	
	border: 0px solid #000000;
}

.iSubMenuEditarPerfil{
	width:100%;
}
.listaPerfil li:hover a i{
	background-color:lightblue;
}

.listaPerfil{
	color: #0896ff;
	text-decoration:none;
	padding-top:04%;
	padding-left: 5px;
}
.listaPerfil li{
	display:block;
    padding-bottom: 5%;
    padding-top: 5%;
    cursor:pointer;
    padding-right: 30px;
}
.listaPerfil li:hover{
	background: #f1f1f1;
}
.listaPerfil li a{
	 width: 100%;
    height: 115px;
    color: #999;
    text-align: center;
    
}
.imgEditarPerfil{
	max-width:80%;
}
.divEditarPerfil{
	padding-bottom:16px;
}
.editarPreferencias{
	padding-right:5px;
}
.rowEditarPerfil{
	margin-top:15px;
}
.fieldsetPerfil{
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.15);
    line-height: 32px;    
    margin-bottom: 30px;
    background-color: #FFF;
    font-size: 13px;
    padding: 15px;
}
.fieldsetPerfil input{		
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.barraLateral{
    background: white;
    min-height: 1515px;      
}
.menuBarra{
	position:fixed;
}
.iconoBarra{
	margin-right: 10px;
}
.botonImagenEdicion{
	display: inline-flex;
}
.popUpImagen{
	width: 50%;
    position: ;
    text-align: center;
    padding: 0px;
    margin-left: 25%;
}
.popUpBoton{
	width: 25% !important;
}
.botonContrasena{
	float:right;
	width: 35% !important; 
}
.errorEdicion{
	color:red;
	text-decoration: underline;
}
.derecha{
	float:right;
}